*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
.font{
    font-family: 'Open Sans', sans-serif;
}
.font2{
    font-family: 'Abril Fatface', cursive;
    
}
.container{
    position: relative;
    display: grid;
    height: 100vh;
    background-color: white;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}
.one{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
}
.top{
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
    padding: 1rem;
}
.middle{
    font-size: 1.2rem;
    justify-self: flex-start;
    align-self: center;
    color: grey;
}
.middle>ul>li{
    padding: 1rem;
    border-radius: 2rem;
}
.middle>ul>li:hover{
    background-color: tomato;
    transition: 1s;
    color: white;
    cursor: pointer;
}
.bottom{
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    padding: 1rem;
}
.cart{
    background-color: #ff4e4e;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    color: white;
}
.cart:hover{
    cursor: pointer;
}
.left{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
.two{
    display: flex;
}
.what{
    display: flex;
    font-size: 5rem;
    align-self: center;
    justify-self: flex-start;
    padding: 2rem;
}
.box{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    color: grey;
    font-size: 1.2rem;
    padding-left: 2rem;
    line-height: 2rem;
}
.three{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}
.three>div{
    display: flex;
    height: 18rem;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
}
.three>div:hover{
    cursor: pointer;
    background-color: wheat;
    transition: 1s;
    height: 20rem;
}
.fit-picture{
    height: 12rem;
    width: 12rem;
    border-radius: 10rem;
    padding: 1rem;
}
.strike{
    text-decoration-line: line-through;
    text-decoration-color:#ff4e4e;
}
.line{
    border-top: 2px solid #ff4e4e;
    width: 30%;
    margin-top: 10px;
}